# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdm
*.env
*.venv
env/
venv/
myenv/

# Packages
*.egg
*.egg-info/
dist/
build/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Docker
*.log
docker-compose.override.yml

# VSCode
